<div class="stepper-container">
  <mat-horizontal-stepper>
    <mat-step>
      <ng-template matStepLabel>choisir le centre</ng-template>
      <ng-template matStepContent>
        <app-center-selection></app-center-selection>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>choisir la date</ng-template>
      <ng-template matStepContent>
        Test 2
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>informations personnelles</ng-template>
      <ng-template matStepContent>
        Test 3
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>récapitulatif</ng-template>
      <ng-template matStepContent>
        Test 4
      </ng-template>
    </mat-step>
  </mat-horizontal-stepper>
</div>
