<mat-list-option (selectedChange)="confirmButton()" class="center-item">
  <div class="item-container">
    <div>
      <div class="user-username" mat-line>{{userDetails?.username}}</div>
    </div>
    <div class="options-button" *ngIf="buttonConfirm">
      <button class="modify-button" mat-button>
        <mat-icon>
          create
        </mat-icon>
      </button>
      <button class="delete-button" mat-button>
        <mat-icon>
          close
        </mat-icon>
      </button>
    </div>
</div>
</mat-list-option>
